<!--
	<div @flyrightdown *ngIf="isShown" class="tbase imageright">
		<div @flyleftdown *ngIf="isShown" class="tbase imageleft">
	<video autoplay muted loop controls ng-src="assets/images/background/Background.mp4"></video>
	<img [src]="assets/images/background/Background.mp4">
<div [@flyInOut]="fly" [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>

<button (click)="toggle()"> Animate</button>

<button (click)="move()"> Enter and Exit </button>
				<mat-video [loop]="true" [autoplay]="true" [preload]="true" [fullscreen]="false" [download]="false" color="accent" spinner="null"
				 poster="image.jpg" [quality]="true" [keyboard]="false" [overlay]="true">

-->

<body>
	<div class="top-container">
		<div @myInsertRemoveTrigger *ngIf="isShown" class="ttop imagetop">
		</div>
		<div class="top-container">
			<div @flyleftdown *ngIf="isShown" class="tbase">
				<mat-video [loop]="true" [autoplay]="true" [preload]="true" [fullscreen]="false" [download]="false" color="accent" spinner="null"
				poster="http://172.16.6.6:8084/texinindia/image.jpg" [quality]="false" [keyboard]="false" [overlay]="false	">
					<source matVideoSource src="http://172.16.6.6:8084/texinindia/fabricblue.mp4" type="video/mp4">
				</mat-video>

			</div>
			<div @flyrightdown *ngIf="isShown" class="tbase ">
				<mat-video [loop]="true" [autoplay]="true" [preload]="true" [fullscreen]="false" [download]="false" color="accent" spinner="null"
				 poster="http://172.16.6.6:8084/texinindia/image.jpg" [quality]="false" [keyboard]="false" [overlay]="false">
				 <source matVideoSource src="http://172.16.6.6:8084/texinindia/rainlike.mp4" type="video/mp4">
				</mat-video>

			</div>
		</div>

	</div>
	<!--
<body>
		<mat-video title="My Tutorial Title" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin" poster="image.jpg">
				<source matVideoSource src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
			</mat-video>
</body>
-->
	<!--
<div @flyInOut *ngIf="isShown" class="insert-remove-container">
  <p>The box is inserted</p>
</div>
-->