  /* .open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
        content:url("assets/images/right.jpg");
  } */
  .top-container{
    
    background: white;
    height: 100%;
    width: 100%;
    color: #000000;
    border: 0.5px solid blue;
    font-weight: bold;
    font-size: 20px;
  }

  .tbase{
    float: left;
    background: green;
    height: 90%;
    width : 50%;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }
  .ttop{
    float:right;
    background: green;
    height: 10%;
    width : 100%;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }
  .imagetop{
    content:url("assets/images/yarn.jpg");
  }
  .imageleft{
    content:url("assets/images/left.jpg");
  }
  .imageright{
    content:url("assets/images/right.jpg");    
  }
