/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html {
    height : 100%;
    width : 100%;
}
body{
  height : 100%;
  width : 100%;
}

